<div class="jumbotron">
  <h2>Angular, AngularFire hands-on!</h2>
  <p class="lead">
    This example shows the best practices for Angular applications working together with AngularFire & Firebase.
  </p>
  <div ng-if="!isLoggedIn()">
    Je bent nu niet ingelogd.
    Klik <a href="" ng-click="login()">hier</a> om anoniem in te loggen en toegang tot meer functies te krijgen.
  </div>
  <div ng-if="isLoggedIn()">
    <h4>Auth data:</h4>
    <div class="alert alert-success">
      {{authData}}
    </div>
    <button type="button" class="btn btn-success" ng-click="logout()">Klaar. Log me uit.</button>
  </div>
  <div class="alert alert-danger" ng-if="errorDuringLoggingIn()">
    Fout: {{error}}
  </div>
</div>
